.profile__container {
  height: calc(100vh - 75px);
  padding: 74px 0 70px;
  margin: 0 auto;
  max-width: 410px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__form {
  height: 100%;
  margin-top: 79px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__input-container {
  width: 100%;
  position: relative;
}

.profile__input-text {
  position: absolute;
  top: 16px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  height: 40px;
  width: 100%;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #FFFFFF;
  background: none;
  border: 0;
}

.profile__input:focus {
  outline: 1.5px solid rgba(170, 170, 170, .5);
}

.profile__name {
  border-bottom: 1px solid #424242;
}

.profile__button {
  margin-top: auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: 0;
  background: none;
  color: #FFFFFF;
  width: max-content;
}

.profile__button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .5s;
}

.profile__logout {
  margin: 16px auto 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  background: none;
  border: 0;
  width: max-content;
}

.profile__logout:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .5s;
}

@media screen and (max-width: 450px) {
  .profile__container {
    height: calc(100vh - 75px);
    padding: 70px 0 40px;
    max-width: 410px;
    margin: 0 40px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout {
    font-size: 12px;
    line-height: 15px;
  }
}