.app {
  background-color: #202020;
  min-height: 100vh;
  font-family: 'Inter','Arial', sans-serif;
  color: #ffffff;
}

.container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
